[submodule "bundle/haskellmode"]
	path = bundle/haskellmode
	url = git@github.com:lukerandall/haskellmode-vim.git
[submodule "bundle/fakeclip"]
	path = bundle/fakeclip
	url = git@github.com:kana/vim-fakeclip.git
